 header {
     background-color: #183C63;
     color: #e60e0e;
     text-align: center;
     margin: 0 auto;
 }

 main {
     background-color: #fd1313;
     color: #197be4;
     text-align: center;
     margin: 0 auto;
     padding: 16px;
     display: flex;
 }

 article {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     justify-content: center;
     border: 1px solid #183C63;
     margin: 16px;
     gap: 16px;
     padding: 16px;
     flex: 1 1 25%;
 }

 img {
     width: 80px;
     height: 80px;

 }

 .autore-autor {
     font-weight: bold;
 }